@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: auto;
    text-align: center;
    padding: 15px;
}

header h1{
    font-family: 'Crete Round', serif;
    margin-bottom: 15px;
    font-size: 3em;
    color: #03045E;
}

header p {
    font-size: 1.07em;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    margin: auto;
    background-color: #ecfcff;
}

#dadosProprietario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

#dadosProprietario div{
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
}

#dadosProprietario div input, #placa{
    font-size: 1.2em;
}

#dadosVeiculo > div {
    padding: 20px;
}

#marca label:first-child, #dadosProprietario > div > label, #anoPlaca > div > label, #divPlaca > label, label[for="motivo"]{
    font-weight: bold;
    font-size: 1.07em;
    color: #03045E;
}

#marca > label.radio {
    margin-left: 10px;
}

#anoPlaca{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#anoPlaca > div {
    width: 44%;
    padding-bottom: 8px;
}

#divPlaca{
    text-align: center;
}

#motivo{
    vertical-align:text-top;
}

input, textarea, select{
    border-radius: 5px;
    border: 1px solid black;
}

input[type="text"],input[type="number"], textarea, select{
    box-shadow: 2px 2px 2px rgba(0, 0,0, 0.7);
}

input:focus, textarea:focus, input:checked {
    background-color: #CAF0F8;
}

legend{
    padding: 2px;
    font-weight: bold;
    font-size: 1.21em;
    color: #03045E;
}

fieldset{
    border-radius: 10px;
    border-color: #03045E;
}

button{
    display: block;
    margin: 8px auto;
    padding: 6px 4px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1em;
    color: #ecfcff;
    background-color: #023E8A ;
    box-shadow: 2px 2px 2px rgba(0, 0,0, 0.7);
}

input[type="radio"]:hover, button:hover{
    cursor: pointer;
}

button:hover{
    background-color: #90E0EF;
    color: #023E8A;
}